# This file is for global options applied to all VMs created by automateVM script. All of these options will be overwritten if defined in .cfg file for a specific VM.


#Latest release of Ansible. Change if you really need it, as it might result in compatibility issues. 
LATEST_ANSIBLE=ansible-2.2.0.0


#ENABLE_ROOT_SSH_LOGIN - set this option to 1 if you want to allow root to connect via to SSH to Master and from Master to Hosts. You really want to leave this option as it is. 
ENABLE_ROOT_SSH_LOGIN=1


#SSH_PUBLIC_KEY - mandatory option to be able to connect to Master machine via SSH, as it will not accept password authentication for security reasons. 
SSH_PUBLIC_KEY=""


#Username - define user which will be running VMs - this user will be owner of new VM files. It should not be root!
USERNAME=""


#FILEPATH - path where virtual disks will be saved (default to directory of the script if not set or invalid)
FILEPATH=""


#Basefolder - directory to store VM configuration file into (default to directory of the script if not set or invalid)
BASEFOLDER=""


#Keep_img_disk - if this option is enabled, the script will not delete intermediate .img disk, thus minimal requirements for disk space are doubled (28 GB for default infrastructure)
KEEP_IMG_DISK=0
