[mysqld]
ndbcluster
default-storage-engine=NDBCLUSTER
ndb-connectstring={{ groups['mysql_cluster_mgm'] | join(",") }}
log_error=/var/log/mysql/mysql_error.log

[mysql_cluster]
ndb-connectstring={{ groups['mysql_cluster_mgm'] | join(",") }}
